<h1>My eShop</h1>
<%= link_to "Products", products_path %>
<%= link_to "Tags", tags_path %>
<%= link_to "Variant option types", variant_option_types_path %>
<%= link_to "Variant option type values", variant_option_type_values_path %>
 
