<p>
  <b>Name:</b>
  <%= product.name %>
</p>
 
<p>
  <b>Price:</b>
  <%= product.price %>
</p>

<p>
  <%= link_to 'Destroy product', [product.category, product],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>